body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 30px;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}

.carousel {
    position: relative;
    width: 360px;
    height: 180px;
    overflow: hidden;
    background-color: #ccc;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    background-color: #999;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
/* CSS for Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #0f0e0e;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 400px;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(228, 27, 5);
    text-decoration: none;
    cursor: pointer;
}

.register {
    background-color: #0ae452;
  border-radius: 10px;
    color: #fff;
    border: none;
    text: 50px;
    padding: 10px 40px;
    margin-bottom: 40px;
    cursor: pointer;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.menu-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    width: 140px;
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
}

.menu-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.menu-button {
    background-color: #d40098;
    color: #ffffff;
    border: none;
    padding: 8px 8px;
    cursor: pointer;
    gap: 2px;
    width: 100px;
    margin-top: 25px;
    text-align: center;
}
.content {
    margin-top: 20px;
    color: white;
    margin-left: 5px; 
}
.p1 {
    color: red;
}
